/* Ensuring font consistency */
::ng-deep body {
  font-family: "Maven Pro", sans-serif;
}

.table th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
  background: #333;
  color: #FFF;
  padding: 8px 8px;
  font-size: 14px;
  text-align: center; /* Align headers to center */
}

.table td {
  padding: 8px;
  vertical-align: middle !important; /* Correct vertical alignment */
  font-weight: normal;
  font-size: 13px;
  text-align: center; /* Align data cells to center */
  background: #333;
}

.full-width-table {
  width: 100%;
  table-layout: fixed; /* Ensures equal width for all columns */
}

/* Added specific styles for mat-table cells */
.mat-header-cell, .mat-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center; /* Center align header and data */
  background-color: white;
}

/* Fixing buttons in table cells */
.logout-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 5px;
}

/* Fixing table rows */
.mat-row, .mat-header-row {
  display: table-row;
}

/* Fixing column headers */
th.mat-header-cell {
  background-color: #333 !important;
  color: white !important;
  text-align: center; /* Center align headers */
  padding: 10px;
}
