.mat-dialog-container {
    display: flex;
    flex-direction: column;
}

.mat-dialog-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    /* Set your desired background color */
    z-index: 1000;
    /* Adjust the z-index as needed */
}

.custom-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .right-buttons {
    margin-left: auto; /* This pushes the right-buttons to the right */
  }

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

@media print {
   // @page { size: letter; margin: 1in; } body::after { content: counter(page); position: absolute; top: 0; right: 0; padding: 10px; }
    th,
    td {
        border-collapse: collapse;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
    
}