<!-- Horizontal Navbar -->
<div class="horizontal-navbar">
    <h3 class="navbar-title">Dashboard</h3>
    
    <div class="nav-links">
      <a routerLink="/notifications">
        <i class="fa fa-bell"></i> Notifications
      </a>
      <a routerLink="/messages">
        <i class="fa fa-envelope"></i> Messages
      </a>
      <a routerLink="/profile">
        <i class="fa fa-user"></i> Profile
      </a>
    </div>
  
    <button class="logout-button" >
      <i class="fa fa-sign-out-alt"></i> Logout
    </button>
  </div>
  