<div class="row" *ngIf="isDialog">
    <div class="col-md-6">    
        <span
            style="color: #183866; font-size: 20px; position: relative; border-left: 2px solid #183866; padding-left: 10px; margin-left: -13px;"
            [innerHTML]="tableTitleForExport"></span>
    </div>
    <div class="col-md-6 text-right" style="padding: 0px 0px 0px 0px">
        <i *ngIf="isDialog" class="mdi mdi-close-circle" title="Close" mat-dialog-close
            style="float: right; font-size: 25px;"></i>
    </div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="!dataSource"></mat-progress-bar>

<div class="row mt-3">
    <div class="col-md-4 pl-0 pt-0 pb-0" *ngIf="searchBoxVisibility">
        <mat-form-field class="" appearance="outline" [ngClass]="[searchBoxResizable ? 'tableHeaderCellResizable' : ''] ">
            <mat-icon matPrefix>search</mat-icon>
            <!-- <mat-label>Search</mat-label> -->
            


            <button  matSuffix mat-icon-button aria-label="Clear" >
            </button>
        </mat-form-field>
    </div>
