.row {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .mat-form-field {
    width: 100%;
    line-height: 22px !important;
  }
  
  ::ng-deep .mat-checkbox-inner-container-no-side-margin {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0px;
    margin-top: 0px;
  }
  
  ::ng-deep .mat-form-field {
    font-size: 10pt;
  }
  
 
  .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 11pt !important;
    font-weight: 600 !important;
  }
  
  .mat-form-field {
    line-height: initial !important;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .card-title {
    color: #ab862d;
    font-weight: bold;
  }
  
  .table th {
    vertical-align: middle !important;
    font-weight: 500;
    //font-size: 10pt;
    color: #FFF !important;
    background: #346cb0 !important;
    white-space: normal;
    text-align: center !important;
    //border: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 5px;
  }
  
  .table td {
    /* //padding: 10px; */
    /* //vertical-align: middle !important; */
    font-weight: 500;
    /* //font-size: 10pt; */
    /* // padding: 12px; */
    /* // border: 1px solid rgba(0, 0, 0, 0.125); */
    padding: 0px 5px;
    word-break: break-all;
  }
  
  /* .table th .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center !important;
  } */
  
  .panel-body .table thead tr th {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
  }
  
  .panel-body .table tbody tr td {
    color: #555;
    font-size: 15px;
    padding: 5px;
    vertical-align: middle;
  }
  
  .card-title {
    color: #649d8b;
    font-size: 19px;
    margin-bottom: 0px;
  
  }
  
  .card-header {
    background: #f4f7f8;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header {
    border-bottom: solid 5px #649d8b;
  }
  
  
  
  .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  label {
    font-size: 11pt !important;
    color: #2E2C43;
  }
  
  .mb-0 {
    margin-bottom: 0px;
  }
  
  .user-thumb {
    width: 94%;
    height: 70px;
    background-color: #f5f5f5;
    border-radius: 3px;
    position: relative;
  }
  
  .user-thumb:before {
    content: "\F100";
    font-family: "Material Design Icons";
    position: absolute;
    color: #4caf50;
    bottom: -7px;
    right: -2px;
    font-size: 24px;
  }
  
  .user-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  
  .m-a {
    margin: auto;
  }
  
  .img-bg {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* // margin-bottom: 20px; */
  }
  
  .pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .pic-holder .upload-file-block,
  .pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: #f8f9fc;
    font-size: 10px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  
  .text-sm {
    font-size: 10pt;
  }
  
  .small {
    font-size: 8pt;
    line-height: 0 !important;
  }
  
  /* // mat-select {
  //     font-weight: 600;
  // } */
  label {
    font-size: 10pt;
  }
  
  ::ng-deep .mat-radio-inner-circle {
    height: 15px !important;
    width: 15px !important;
  }
  
  ::ng-deep .mat-radio-label-content {
  
    padding-left: 0px !important;
    font-size: 10pt !important;
  }
  
  ::ng-deep .mat-radio-outer-circle {
    height: 15px !important;
    width: 15px !important;
  }
  
  .mb-10 {
  
    margin-bottom: 10px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-5 {
    margin-top: 5px !important;
  }
  
  .mt-15 {
    margin-top: 15px;
  }
  
  ::ng-deep .mat-horizontal-stepper-header-container {
  
    border-bottom: solid 1px #b9b7b7;
    margin-bottom: 22px;
    background: #e0dcdc;
  }
  
  .text-lg {
    font-size: 12pt;
  }
  
  /*Sufi*/
  
  .seven h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #30ab96;
  
    .make-gold {
      background-color: red
    }
  
    .card-title {
      color: #ab862d;
      font-weight: bold;
    }
  
    .panel-body .table thead tr th {
      font-size: 14px;
      font-weight: 600;
      padding: 12px;
    }
  
    .panel-body .table tbody tr td {
      color: #555;
      font-size: 15px;
      padding: 10px 12px;
      vertical-align: middle;
    }
  
    .card-title {
      color: #649d8b;
      font-size: 19px;
      margin-bottom: 0px;
  
    }
  
    .card-header {
      background: #f4f7f8;
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
  
    .card-header {
      border-bottom: solid 5px #649d8b;
    }
  
  
    letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap:8px;
    align-items: center;
  }
  
  .seven h3:after,
  .seven h3:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #3147ae;
    border-top: 1px solid #3147ae;
    height: 5px;
    background-color: #f8f8f8;
  }
  
  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0px 15px 4px 15px;
    border-radius: 5px;
  }
  
  legend {
    font-size: 11pt;
    display: inline-block;
    width: auto;
    font-weight: 600;
    padding: 0px 10px;
    margin-bottom: 0px;
  }
  
  .mat-form-field,
  .mat-form-field-appearance-outline .mat-form-field-label,
  .mat-form-field-label {
    color: #2E2C43 !important;
    font-size: 11pt !important;
  }
  
  .titledisplayview {
    font-size: 18px;
    color: #649d8b !important;
    font-weight: bold;
  }
  
  .btn-primary,
  .btn-primary.disabled {
    margin-top: 4px;
  }
  
  .error_red {
    color: red;
  }
  
  .float-right {
    float: right;
  }
  
  /* .mat-sort-header-container {
    display: grid; 
    cursor: pointer;
    align-items: end;
    text-align: right;
  }
   */
  ::ng-deep .table-config-menu {
    /* //position: initial; */
    top: 20px;
    right: 20px;
    padding: 0;
  
    &-label {
      font-family: initial;
      font-weight: bold;
      padding: 10px 15px;
      display: block;
    }
  
    &-options {
      display: flex;
      flex-direction: column;
  
      mat-checkbox {
        label {
          display: block;
          padding: 10px 15px;
  
          &:hover {
            background: rgba(155, 213, 239, 0.7);
          }
  
          &:active {
            background: rgba(106, 192, 231, 0.7);
          }
        }
      }
    }
  
    /*  .mat-header-cell{
      font-weight: bold;
      background-color: black;
    } */
  
  }
  
  
  #export_table_title_id {
    /* //text-align: center;
    // color: red; */
    padding: 0 10px 10px 0px;
    font-weight: bold;
    display: none;
  }
  
  .table-footer-text {
    font-size: 14px;
    color: #14265f !important;
    font-weight: bold;
  }
  
  .total-footer-display {
    display: none;
  }
  
  .my-dynamic-table-container {
    position: relative;
    //min-height: 200px;
    max-height: 600px;
    overflow: auto;
  }
  
  .tableHeaderCellResizable {
    resize: horizontal;
    overflow: hidden;
    min-width: 50%;
    max-width: 100%;
  }
  
  
  .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 46px;
    line-height: 34px;
    padding: 0 14px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .table th {
    vertical-align: middle !important;
    font-weight: 500;
    font-size:13px;
    color: #FFF !important;
    background: #346cb0 !important;
    white-space: normal;
    text-align: center !important;
    //border: 1px solid rgba(0, 0, 0, 0.125);
    padding:5px;
    white-space: nowrap;
  }
  
  .table td {
    /* //padding: 10px;
   // vertical-align: middle !important; */
    font-weight: 400;
    font-size: 12px !important;
    /* // padding: 12px;
    // border: 1px solid rgba(0, 0, 0, 0.125); */
    padding:5px 5px;
    word-break: break-all;
  }
  
  ::ng-deep .mat-sort-header-arrow {
      color: #ffffff;
  }
  
  .mat-raised-button{
    font-weight: normal !important;
  }
  /* ::ng-deep .mat-sort-header-arrow{
    color: #fff !important;
    opacity: 1 !important;
  }
  
  
  ::ng-deep .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    letter-spacing: normal;
    outline: 0;
    justify-content: center;
  } */